
      .ico{
        font-size: 26px;
      }
      a{
        text-decoration: none !important;
      }
      @media only screen and (min-width: 768px) {/*desktop*/
        .cit_logo{
          margin-top: 60px;
        }
        .mv{
          display: none;
        }
    }
    .cont{
      padding-left: 25px;
      text-decoration: none;
      color: black;
    }
    .cont:hover{

      background-color: lightgrey !important;
    }
    @media only screen and (max-width: 768px) {/*mobile*/
      .ri{
        display: none;
      }
      .mv{
        display: block;
      }
      .bg{
        display: none;
      }
      .row{
        margin-left: 0px!important;
      }
      .lab{
      position:absolute;bottom:10px;margin-left:-30px;
      }
    }
    .cont{
      padding-left: 25px;
      text-decoration: none;
      color: black;
    }
    .row{
      margin-bottom: 0px;
    }
    .bg{
      background-image: url("https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg");
      height:360px;width:28%;border-radius:10px;margin-right:20px;
    }
    .lab{
      position:absolute;bottom:10px;margin-left:-30px;
    }
    td{
      border-top: none!important;
    }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){ /* ipad */
    .table{
      width: 33%;
    }
    }

@media screen and (min-width: 1024px) and (min-height: 1320px) { /* ipad pro*/
    .bg{
      display: none;
    }
    .mv{
      display: block;
    }
    .main{
    margin-left: -130px;
    }
    }
  }
  .t1,.t2,.t3,.t4,.t5
  {
   background-color: white;
   border-radius: 50%;
   border: 1x solid grey;
   padding:10px;
   color: black !important;
   height: 47px;
   width: 47px;
  }
  .t1:hover{
    color:   #3b5998 !important;
  }

  .t2:hover{
    color: skyblue !important;
  }

  .t3:hover{
    color: #FF0000!important;
  }

  .t4:hover{
    color: #0077B5!important;
  }

  .t5:hover{
    color: #d34836 !important;
  }
