.cont_1{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_1:hover{
  background-color:red!important;
}
.cont_2{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_2:hover{
  background-color:skyblue!important;
}
.cont_3{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_3:hover{
  background-color:#FFEB3B!important;
}
.cont_4{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_4:hover{
  background-color:#4A148C!important;
}
.cont_5{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_5:hover{
  background-color:#009688!important;
}
.cont_6{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_6:hover{
  background-color:#FF1744!important;
}
.cont_7{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_7:hover{
  background-color:#795548!important;
}
.cont_8{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_8:hover{
  background-color:#607D8B!important;
}
.cont_9{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_9:hover{
  background-color:#01579B!important;
}
.cont_10{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_10:hover{
  background-color:green!important;
}
.cont_11{
  padding-left: 25px;
  text-decoration: none !important;
  color:black;
}
.cont_11:hover{
  background-color:#880E4F!important;
}
nav{
  background-color: #2ad1ca !important;
}
